<h1>Log In</h1>

<% form_tag session_path do -%>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login', @login %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password', nil %><br/>
<%= link_to 'Forgot Password?', forgot_password_path %></p>

<p>Or use OpenID:</p>

<p><label for="openid_identifier">OpenID:</label><br/>
<%= text_field_tag "openid_identifier", @openid_identifier %></p>

<p>Stay logged in on this computer:<br/>
<label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>

<p><%= submit_tag 'Log in', :disable_with => "Signing in&hellip;" %></p>
<% end -%>
