<h1>Sign up with OpenID</h1>

<% form_tag session_path do -%>
<%= hidden_field_tag 'openid', true %>

<% if_in_beta? do -%>
	<div class="field_row">
		<%= label_tag 'invitation_token', 'Invitation Code' %>
		<%= text_field_tag :invitation_token, params[:invitation_token] %>
		<span class="description">We are currently in private beta and an invitation code is required</span><br />
	</div>
<% end -%>

	<div class="field_row">
		<%= label_tag 'openid_indentifier', 'OpenID Url' %>
		<%= text_field_tag "openid_identifier", @openid_identifier %><br />
	</div>

<% if_recaptcha? do %>
	<div class="field_row">
		<label for="recaptcha">Please enter the following words below.</label>
		<%= recaptcha_tags %><br />
	</div>
<% end %>

<p><%= submit_tag 'Log in', :disable_with => "Signing in&hellip;" %></p>
<% end -%>
