<h1>Log in with OpenID</h1>
<p><%= link_to "Login with Username and Password", login_path %></p>
<% form_tag session_path do -%>
<%= hidden_field_tag 'openid', true %>

	<div class="field_row">
		<%= label_tag 'openid_indentifier', 'OpenID Url' %><br/>
		<%= text_field_tag "openid_identifier", @openid_identifier %>
	</div>

<% if_recaptcha? do %>
	<div class="field_row">
		<label for="recaptcha">Please enter the following words below.</label>
		<%= recaptcha_tags %><br />
	</div>
<% end %>

	Stay logged in on this computer:<br />
	<div class="field_row">
		<%= label_tag 'remember_me', 'Remember me' %>
		<%= check_box_tag 'remember_me', '1', @remember_me %><br />
	</div>

	<p><%= submit_tag 'Log in', :disable_with => "Signing in&hellip;" %></p>
<% end -%>
