<h1>Users waiting to sign up (<%=h @users.total_entries rescue nil%>)</h1>
	<p><%= link_to 'User Administration', admin_users_path %> |
<%= link_to 'Manage Beta Invitations for All Users', admin_invites_path %></p>

<p>
<% form_tag url_for(:controller => 'mailings', :action => 'create') do -%>
Send invitations to users who have signed up on the front page for the private beta. Recommended maximum of 20 (enforced in the find) sent emails at a time, if you consistantly use that many or need more you should implement the ar_mailer gem or a background process.<br/>
	<div class="field_row">
	<label for="limit">Number of invitations to send (max 20):</label>
	<%= text_field_tag 'limit' %><br/>
  </div>
	<%= submit_tag 'Send Invitations', :disable_with => "Sending&hellip;" %>
<% end -%>
</p>

<% if @users -%>

<ul>
	<% for user in @users -%>
		<li><%=h user.email %></li>
	<% end -%>
</ul>

<%= will_paginate @users %>

<% end -%>
