<h1>Edit your account</h1>
<p>Show current profile for: <%= link_to_current_user :content_method => :login %> | <%= link_to 'Change Password', user_profile_password_settings_path(current_user) %></p>
<%= error_messages_for :user %>
  
<% form_for :user, :url => user_profile_url(@user), 
									 :html => { :method => :put },
									 :builder => Uberkit::Forms::Builder do |f| %> 
  
	<%= render :partial => "user/profiles/edit_profile", :locals => { :f => f } %> 
  
  <%= f.submit 'Save' %>
<% end %>


