<h1>Sign up as a new user</h1>
<p>New OpenID users should <%= link_to "log in here",  new_openid_session_path %>.</p>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :url => user_profiles_path, :builder => Uberkit::Forms::Builder do |f| -%>
	<%= f.text_field :name, :help => "*optional" %>
  <%= f.text_field :login, :label => "Username" %>
	<%= f.text_field :email %>
  <%= f.password_field :password %>
	<%= f.password_field :password_confirmation %>
  <%= f.submit "Sign up"%>
<% end -%>
