<h1>My Profile: <%=h @user.login %> <%= link_to '(edit)', edit_user_profile_path(current_user) %></h1>
<% if_invites_available? do -%>
	<p>You have <%=h @user.invitation_limit %> invitations left. <%= link_to "Invite friends to join",
				new_user_invitation_path %>.</p>
<% end -%>
<p>Joined on: <%=h @user.created_at.to_s(:long) %></p>
<p>Name: <%=h @user.name %></p>
<p>Username: <%=h @user.login %></p>
<p>Email: <%=h @user.email %></p>
<p>Password: <%= link_to '(change)', user_profile_password_settings_path(current_user) %></p>


