<% if logged_in? -%>
  <div id="user-bar-greeting">Logged in as: <%= link_to_current_user :content_method => :login %> | 
		<%= link_to 'My Account', user_profile_path(current_user), { :title => "My account" } %> |
		<% if_invites_available? do -%>
			<%= link_to "Invite Friends (#{current_user.invitation_limit})", new_user_invitation_path %> |
		<% end -%>
		<%= link_to "Log Out", logout_path, { :title => "Log out" }    %> </div>
<% else -%>
  <div id="user-bar-greeting">Log in with: 
		<%= link_to_remote "Username", {:url => new_session_path, :method => :get}, :href => login_path %> |
		<%= link_to_remote "OpenID", {:url => new_openid_session_path, :method => :get}, :href => login_with_openid_path %> |
  	<%= link_to "New Account", signup_path, { :title => "Create an account" } %></div>	
<% end -%>
