<% if logged_in? -%>
  <div id="user-bar-greeting">Logged in as: <%= link_to_current_user :content_method => :login %> | 
		<%= link_to 'My Account', user_profile_path(current_user), { :title => "My account" } %> |
		<%= link_to "Log Out", logout_path, { :title => "Log out" }    %> </div>
<% else -%>
  <div id="user-bar-greeting">Log in with: 
		<%= link_to_function "Username", show_login('login'), :href => login_path %> |
		<%= link_to_function "OpenID", show_login('login_with_openid'), :href => login_with_openid_path %> |
  	<%= link_to "New Account", signup_path, { :title => "Create an account" } %></div>	
<% end -%>
