<h1>Roles for <%=h @user.login %></h1>
<% form_for @user, :url => { :action => "update", :id => @user } do |f| -%>
<%= hidden_field_tag "user[created_at]", @user.created_at %>

<ul> 
	<% for role in @roles %>
		<li><%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %> <%= role.name %></li>
  <% end %>
</ul> 

  <p>
    <%= f.submit "Update", :disable_with => "Updating&hellip;" %>
  </p>
<% end %>
