<h1>Reset your password</h1>
<% form_for "password", :url => user_password_url(params[:id]),
       :html => { :method => :put } do |f| -%>
		<%= hidden_field_tag :reset_code, params[:id] %>

	<div class="field_row">
    <label for="password">Password:<label>
    <%= password_field_tag :password %><br />
	</div>

	<div class="field_row">
    <label for="password_confirmation">Confirm Password:</label>
    <%= password_field_tag :password_confirmation %><br />
	</div>

<% if_recaptcha? do %>
	<div class="field_row">
		<label for="recaptcha">Please enter the following words below.</label>
		<%= recaptcha_tags %><br />
	</div>
<% end %>

  <%= f.submit "Reset Your Password" %>
<% end -%>


