<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"    
 "http://www.w3.org/TR/html4/strict.dtd"> 

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= APP_CONFIG['settings']['name'] %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

	<%= flash_messages %>


  <%= render :partial => "user/profiles/user_bar" %>

	<% ubermenu :id => 'navigation' do |m| %>
	  <% m.action 'Homepage', root_path %>
		<% if_logged_in? do %>
	  	<% m.action 'Members', members_path %>
		<% end %>
    <% if_admin? do %>
	  	<% m.action 'Admin', admin_controls_path %>
		<% end %>
	<% end %>


	<%= yield %>
  
	<% if Rails.env.development? %>

	  <div id="footnotes_holder">
	  </div>

	  <%= render :partial => 'shared/debug' %>

	<% end %>

</body>
</html>
